In [1]:
# import libraries

import pandas as pd
import numpy as np
import matplotlib as mp

In [2]:
# read constructor results into a dataframe

df = pd.read_csv(r'C:\Users\MDELANEY1\OneDrive - Anglo American\Documents\Personal\Data projects\formula 1 championship\raw_data\constructor_results.csv')
df.head()

   constructorResultsId  raceId  constructorId  points status
0                     1      18              1    14.0     \N
1                     2      18              2     8.0     \N
2                     3      18              3     9.0     \N
3                     4      18              4     5.0     \N
4                     5      18              5     2.0     \N

In [3]:
df.describe()

       constructorResultsId        raceId  constructorId        points
count          12505.000000  12505.000000   12505.000000  12505.000000
mean            8341.541783    522.379608      45.513315      3.986166
std             5629.482552    310.543824      58.912037      7.759519
min                1.000000      1.000000       1.000000      0.000000
25%             3127.000000    285.000000       6.000000      0.000000
50%             6253.000000    484.000000      22.000000      0.000000
75%            13875.000000    739.000000      53.000000      4.000000
max            17009.000000   1132.000000     215.000000     66.000000

In [4]:
df['points'] = df['points'].astype(str).str.replace('.', ',')

df.head()

   constructorResultsId  raceId  constructorId points status
0                     1      18              1   14,0     \N
1                     2      18              2    8,0     \N
2                     3      18              3    9,0     \N
3                     4      18              4    5,0     \N
4                     5      18              5    2,0     \N

In [5]:
df.to_csv(r'C:\Users\MDELANEY1\OneDrive - Anglo American\Documents\Personal\Data projects\formula 1 championship\cleaned_data\constructor_results.csv', index=False)