In [1]:
# import libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# read csv as dataframe

df = pd.read_csv(r'driver_standings.csv')

In [3]:
df.head()

   driverStandingsId  raceId  driverId  points  position positionText  wins
0                  1      18         1    10.0         1            1     1
1                  2      18         2     8.0         2            2     0
2                  3      18         3     6.0         3            3     0
3                  4      18         4     5.0         4            4     0
4                  5      18         5     4.0         5            5     0

In [4]:
# drop columns

df = df.drop(columns='positionText')

In [5]:
df.head()

   driverStandingsId  raceId  driverId  points  position  wins
0                  1      18         1    10.0         1     1
1                  2      18         2     8.0         2     0
2                  3      18         3     6.0         3     0
3                  4      18         4     5.0         4     0
4                  5      18         5     4.0         5     0

In [6]:
# check for duplicates

duplicates = df.duplicated()

# print duplicates

print('Duplicate rows:')
print(df[duplicates])

Duplicate rows:
Empty DataFrame
Columns: [driverStandingsId, raceId, driverId, points, position, wins]
Index: []

In [7]:
df['points'] = df['points'].astype(str).str.replace('.', ',')

df.head()

   driverStandingsId  raceId  driverId points  position  wins
0                  1      18         1   10,0         1     1
1                  2      18         2    8,0         2     0
2                  3      18         3    6,0         3     0
3                  4      18         4    5,0         4     0
4                  5      18         5    4,0         5     0

In [8]:
df.to_csv(r'driver_standings.csv', index=False)