In [1]:
# import libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv(r'races.csv')

In [3]:
df.head()

,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N

In [4]:
df = df.drop(columns='url')

In [5]:
# custom function to convert date
def convert_date(d):
    if pd.isna(d) or d == "\\N":
        return None
    else:
        return pd.to_datetime(d)

# apply the function to each date column
for col in ['date', 'fp1_date', 'fp2_date', 'fp3_date', 'quali_date', 'sprint_date']:
    df[col] = df[col].apply(convert_date)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1125 entries, 0 to 1124
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   raceId       1125 non-null   int64
 1   year         1125 non-null   int64
 2   round        1125 non-null   int64
 3   circuitId    1125 non-null   int64
 4   name         1125 non-null   object
 5   date         1125 non-null   datetime64[ns]
 6   time         1125 non-null   object
 7   fp1_date     90 non-null     datetime64[ns]
 8   fp1_time     1125 non-null   object
 9   fp2_date     90 non-null     datetime64[ns]
 10  fp2_time     1125 non-null   object
 11  fp3_date     72 non-null     datetime64[ns]
 12  fp3_time     1125 non-null   object
 13  quali_date   90 non-null     datetime64[ns]
 14  quali_time   1125 non-null   object
 15  sprint_date  18 non-null     datetime64[ns]
 16  sprint_time  1125 non-null   object
dtypes: datetime64[ns](6), int64(4), object(7)
memory usage: 149.5+ KB

In [7]:
# custom function to convert time
def convert_time(t):
    # check if the value is not a number (NaN) or "\N"
    if pd.isna(t) or t == "\\N":
        return pd.NaT
    try:
        # try to convert using "hours:minutes:seconds.milliseconds" format
        return pd.to_datetime(t, format='%H:%M:%S.%f').time()
    except ValueError:
        # if error, try to convert using "hours:minutes:seconds" format
        return pd.to_datetime(t, format='%H:%M:%S').time()

In [8]:
df.head()

,raceId,year,round,circuitId,name,date,time,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,NaT,\N,NaT,\N,NaT,\N,NaT,\N,NaT,\N
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,NaT,\N,NaT,\N,NaT,\N,NaT,\N,NaT,\N
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,NaT,\N,NaT,\N,NaT,\N,NaT,\N,NaT,\N
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,NaT,\N,NaT,\N,NaT,\N,NaT,\N,NaT,\N
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,NaT,\N,NaT,\N,NaT,\N,NaT,\N,NaT,\N

In [9]:
df.to_csv(r'races.csv', index=False)